<section class="sheet">
  <div class="h3">{{ vm.symbol }} {{ vm.last | currency : vm.currency }}</div>

  <ion-list lines="full" [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <ion-select formControlName="type" value="Market">
        <ion-select-option value="Market">At market</ion-select-option>
        <ion-select-option value="Limit">Limit</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Shares</ion-label>
      <ion-input type="number" formControlName="shares"></ion-input>
    </ion-item>
  </ion-list>
  <st-swipe-button
    (completed)="submit()"
    [disabled]="form.invalid"
  ></st-swipe-button>
</section>
