@use '../../../../styles/mixins' as m;

:host { display: inline-block; }

.chip {
  @include m.chip;
  @include m.text-var('tag');

  border: 1px solid var(--color-text);
  color: var(--color-text);
  background: #fff;
  height: 18px;
  border-radius: 16px;
  padding-inline: 6px;
}

.chip.blue {
  border-color: var(--color-highlight-blue);
  color: var(--color-highlight-blue);
}
