// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-font-family: var(--font-sans);
  --ion-color-primary: var(--color-brand);
  --ion-color-success: var(--color-positive);
  --ion-color-danger: var(--color-negative);
  --ion-background-color: var(--color-surface);
  --ion-text-color: var(--color-text);
}