@use "styles/tokens" as *;
@use "styles/type-tokens" as *;
@use "styles/mixins" as *;
@use "styles/typography" as *;

@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

html,
body,
ion-app,
ion-content {
  height: 100%;
}

body {
  background: var(--color-surface);
  color: var(--color-text);
}

.page-pad {
  padding: 16px;
}

/* Pages below overlays in tabbed apps */
ion-tabs .ion-page,
ion-router-outlet .ion-page {
  z-index: 0 !important;
}

/* Overlays must always win pointer events */
ion-modal,
ion-popover,
ion-alert,
ion-action-sheet,
ion-toast {
  z-index: 10001 !important;
}

/* Tab bar should be under overlays */
ion-tab-bar {
  z-index: 10 !important;
}

/* Don’t let the inner wrapper create a weird stacking context */
ion-tabs .tabs-inner {
  position: static !important;
}

ion-toast.st-toast {
  text-align: center;
  color: var(--color-text);
}

.searchbar-input.sc-ion-searchbar-ios {
  font-size: 14px;
}

.modal-sheet {
  background-color: rgba(0, 0, 0, 0.1);
}

.st-modal .modal-wrapper {
  --height: auto;
}
