<ion-content fullscreen>
  <section class="page-pad">
    <div class="h2">Dashboard</div>
    <div class="label-l3">Total equity</div>
    <div class="h1">{{ totalEquity() | currency:'USD' }}</div>

    <div class="h3" class="holdings-title">Holdings</div>
    <ion-list lines="none">
      @for (i of holdings(); track i.symbol) {
      <st-instrument [vm]="i" variant="row"></st-instrument>
      }
    </ion-list>

    <div class="h3">Trending stocks</div>
    <div class="snap-row">
      @for (t of trending(); track t.symbol) {
      <st-instrument
        [vm]="t"
        variant="tile"
        (buy)="openOrder(t)"
      ></st-instrument>
      }
    </div>
  </section>
</ion-content>
